html {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url(../img/coronavirus.jpg);
    background-size: cover;

}

#itemShelf {
    grid-row: 1;
    grid-column: 1;
    border-style: solid;
    border-color: white;
}

#covidBall {
    grid-row: 1;
    grid-column: 2;
    border-style: solid;
    border-color: white;
}

#ball {
    width: 100%;
    /*display: flex;*/
}

#questions {
    border-style: solid;
    border-color: white;
    margin-bottom: 5px;
}

#top {
    display: flex;
    flex-direction: row;
    /*grid-template-columns: repeat(3, 1fr);*/
    margin-bottom: 5px;
    grid-gap: 10px;
}



.button {
    font: 500;
    font-size: xx-large;
    font-weight: 700;
    margin: 5px;
    background-color: white;
}

.buy {
    display: inline-block;
    display: inline;
    align-self: center;
}

#top .column {
    width: 33.3%;
    margin-right: 5px;
    align-content: center;
    display: flex;
    flex-direction: column;
}

#shop {
    /*grid-row: 1;*/
    /*grid-column: 3;*/
    border-style: solid;
    border-color: white;

}

#inventory {
    display: flex;
    flex-direction: column;
}

.buyable {
    max-height: 120px;
    margin: 0px 10px 5px 10px;
    border-style: solid;
    border-color: white;
    display: flex;
    flex: 1;
    flex-basis: 0;
    font-size: xx-large;
    color: white;
}

.buyable-stats {
    align-self: center;
    list-style: none;
    margin: 0px;
}

.pic {
    /*margin: 10px;*/
    max-height: 100px;
    max-width: 100px;
    height: auto;
}

p {
    /*font: 500;*/
    /*font-size: xx-large;*/
    font-stretch: ultra-expanded;
    align-self: center;
    color: white;
}

.col-header {
    font-size: xx-large;
    text-align: center;
    background-color: #ffffff75;
}

.grey {
    filter: grayscale(100%);
}