#itemShelf {
    grid-row: 1;
    grid-column: 1;
    border-style: solid;
    border-color: white;
}

#covidBall {
    grid-row: 1;
    grid-column: 2;
    border-style: solid;
    border-color: white;
}

#shop {
    grid-row: 1;
    grid-column: 3;
    border-style: solid;
    border-color: white;
}

#ball {
    background-image: url(../img/CovidVirus2Darker.png);
    background-size:cover;
    height: 80%;
    width: 63%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url(../img/coronavirus.jpg);
    background-size: cover;
}

#questions {
    grid-row: 2;
    grid-column: 1/3;
    border-style: solid;
    border-color: white;
    height: 650px;
    margin: 10px;
}

#top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 1000px;
}

#inventory {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1px;
    height: 90%;
}

.button {
    font: 500;
    font-size: xx-large;
    font-weight: 700;
    margin: 5px;
    background-color: white;
}

.buy {
    display:inline-block;
    display:inline;
    align-self:center;
}

.buyable {
    height: 25%;
    min-height: 120px;
    margin: 10px;
    border-style: solid;
    border-color: white;
}

.pic {
    margin: 10px;
    max-height: 120px;
    max-width: 120px;
}

p {
    font: 500;
    font-size: xx-large;
    font-stretch: ultra-expanded;
    align-self: center;
    color: white;
}

